<%= form_for @product do |f| %>
  
  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title, required: true %>
  </p>

  <p>
    <%= f.label :price %><br>
    <%= f.number_field :price, required: true %>
  </p>
  
  <p>
    <%= f.label :availability %><br>
    <%= f.radio_button(:availability, true) %>
    <%= f.label :yes %>
    <%= f.radio_button(:availability, false) %>
    <%= f.label :no %>
  </p>

   <p>
    <%= f.label :description %><br>
    <%= f.text_area :description %><br>
  </p>

  <p>
    <%= f.label :Images %>
    <%= f.file_field :product_images, multiple: true %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>