<h1>Edit Shipment</h1>
<h3>Title: <%= @shipment.product.title %></h3>
<h3>Serial Number: <%= @shipment.product.serial_number %></h3>
<h4>Availability: <%= @shipment.product.availability %></h4>
<h4>Price: <%= @shipment.product.price %></h4>
<p>Description: <%= @shipment.product.description %></p>
<%= form_for @shipment, url: shipment_path(@shipment) do |f|%>
  <%= f.label :quantity %>: 
  <%= f.number_field :quantity, value: @shipment.quantity, min: 1, max: 50, step: 1 %>
  <%= f.submit %> 
<%end%>
