<h1>Shipments index</h1>
<%= link_to "CheckOut" %>
<% @shipments.each do |shipment| %>
  <p><strong>Title: </strong><%= shipment.product.title %></p>
  <p><strong>Price: </strong><%= shipment.product.price %></p>
  <p><strong>Quantity: </strong><%= shipment.quantity %></p>
  <p>
    <%= link_to "Edit", edit_shipment_path(shipment)  %> |
    <%= link_to "Remove", shipment_path(shipment), method: :delete, data: {confirm: "Are u sure ?"} %>
  </p>
  <hr>
<%end%>