<!DOCTYPE html>
<html>
  <head>
    <title>Demo Project</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <script src="https://js.stripe.com/v3/"></script>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body class="background_gray">
    <%= render 'layouts/navbar_content' %>
    <%= render 'layouts/alerts' if !flash.empty? %>
    <%= yield %>
  </body>
</html>
